header {
	background-color: #022735;
	color: white;
	text-align: right;
	margin-top: 0 auto;
	background-image: url('../images/IMG_0960.JPG');
	background-position: center top;
	background-size: cover;
	line-height: 1.2;
	padding: 10vw 2em;
}

body {
	margin: 0 auto;
	max-width: 65em;
	font-family: "Helvetica";
	background-color: #27586B;
	color: white;
	line-height: 1.5;
}

#content: {
	
}
